apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generatorOptions:
  disableNameSuffixHash: true

secretGenerator:
  - name: prometheus-scrape-configs
    namespace: monitoring
    files:
      - ./prometheus-scrape-configs.yaml

helmCharts:
  - name: kube-prometheus-stack
    releaseName: my-prom-stack
    repo: https://prometheus-community.github.io/helm-charts
    version: 71.2.0
    namespace: monitoring
    includeCRDs: true
    valuesFile: values.yaml

  # - name: loki
  #   releaseName: loki-stack
  #   repo: https://grafana.github.io/helm-charts
  #   version: 6.26.0
  #   namespace: monitoring
  #   includeCRDs: true
  #   valuesFile: loki-values.yaml
